### DataFrame_Pandas

### Boolean

In [4]:
print(True == False)
print(True == True)

False
True

In [6]:
True != '1'
False

False

In [7]:
e='Abcde'

In [16]:
big=e.upper()
big

'ABCDE'

In [10]:
e.lower()

'abcde'

In [19]:
e

'Abcde'

In [24]:
data=['제홍', '유빈', 2 , 3 , 4]
t=(1,2,3,4,5)
d={'name':'일', 2:'이'}

In [26]:
d['name']

'일'

In [28]:
d. keys()

dict_keys(['name', 2])

In [ ]:
dict_keys

In [15]:
t[0]='일' #퓨플의 요소는 기본적으로는 바꿀 수 없다.

TypeError: 'tuple' object does not support item assignment

In [12]:
data[1], data[-1]

('유빈', 4)

In [17]:
data[2:]

[2, 3, 4]

In [29]:
type(data), type(t), type(d)

(list, tuple, dict)

In [39]:
a=[1,2,3]
b=['치킨', '피자', '고구마']

In [40]:
s1=[a,b]

In [41]:
s1

[[1, 2, 3], ['치킨', '피자', '고구마']]

In [42]:
import pandas as pd

In [43]:
pd.DataFrame(s1)

    0   1    2
0   1   2    3
1  치킨  피자  고구마

In [52]:
person = [
    ['a',100,80],['b',17,60],['c',50,40],['d',90,80]
]

In [53]:
person

[['a', 100, 80], ['b', 17, 60], ['c', 50, 40], ['d', 90, 80]]

In [45]:
col_name=['name','국어','영어']

In [55]:
df=pd.DataFrame(person, columns=col_name, index=[1,2,3,4])
df

  name   국어  영어
1    a  100  80
2    b   17  60
3    c   50  40
4    d   90  80

In [56]:
df[['국어','영어']]>70

      국어     영어
1   True   True
2  False  False
3  False  False
4   True   True

In [60]:
a = ['3식','메뉴']
b = ['아침','삼겹살']
c = ['점심','치킨']
d = ['저녁','피자']

In [61]:
p=[b,c,d]

In [62]:
import pandas as af

In [63]:
i = af.DataFrame(p)
i

    0    1
0  아침  삼겹살
1  점심   치킨
2  저녁   피자

In [66]:
pd.DataFrame(p,index=[1,2,3],columns = a)

   3식   메뉴
1  아침  삼겹살
2  점심   치킨
3  저녁   피자

In [69]:
pd.DataFrame(['일','월','화','수','목'],index=[1,2,3,4,5],columns = ['이름'])

  이름
1  일
2  월
3  화
4  수
5  목

In [70]:
per = [
    {'이름' : '은주', '나이':10, '직업':'j1'},
    {'이름' : '주은', '나이':20, '직업':'j2'},
    {'이름' : '지은', '나이':30, '직업':'j3'},
    {'이름' : '은지', '나이':40, '직업':'j4'}
]
df = pd.DataFrame(per, index= [1,2,3])

ValueError: Shape of passed values is (4, 3), indices imply (3, 3)

In [ ]:
per_2 = [
    '이름' : ['은주', '소주'. '은주', '국주']
]

In [56]:
data = []
data.append('java')

In [57]:
data[0],data[-1],data[1:],data[:2]
data.sort()

In [58]:
b=(1,2,3,'사', '오')
c=1,2,3
type(b),type(c)
b[3] = 4
b[3:], b[1:4]

TypeError: 'tuple' object does not support item assignment

In [66]:
lunch = {'햄버거', '치킨', '라면','콜라', 10000}
dinner = {'피자', '족발', '라면', '콜라', 10000}

In [69]:
lunch & dinner
dinner | lunch

{10000, '라면', '족발', '치킨', '콜라', '피자', '햄버거'}