<a href="https://colab.research.google.com/github/kumo12/Python/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = input('당신의 이름을 입력하시오 >>> ')
a

당신의 이름을 입력하시오 >>> 인천정보

'인천정보'

In [3]:
b = input('당신의 나이 >>> ')
b

당신의 나이 >>> 19

'19'

In [4]:
type(b)

str

In [7]:
c = int(b)
c, type(c)

(19, int)

In [10]:
year = int(input('출생년도를 입렵 >>> '))
print('당신은 ', year, '년에 태어났군요')
age = 2020-year+1
print('당신의 나이는 ',age, '세입니다.')

출생년도를 입렵 >>> 2002
당신은  2002 년에 태어났군요
당신의 나이는  19 세입니다.

Format

In [14]:
s='a is {}'
s.format('apple')

'a is apple'

In [15]:
a= '%s %d 개 가격은 %.2f 달라'
b= a %('햄버거', 2, 4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달라
햄버거 2 개 가격은 8.00 달라

In [0]:
#치킨 2마리 가격이 4만원