## 30302 고유빈

## 주제 : 인천광역시 경제활동인구총괄_현황

출처 : https://www.data.go.kr/data/15055051/fileData.do
       
          기간 : 2018.08.22 ~ 2019.09.16
          확장자 : csv

In [9]:
import pandas as pd

In [78]:
path = r'C:\Users\user\Desktop\30302\인구총괄.csv'
df = pd.read_csv(path, encoding = 'CP949')

In [79]:
df

,시점,성별(1),15세이상인구 (천명),경제활동인구 (천명),취업자 (천명),실업자 (천명),비경제활동인구 (천명),가사ㆍ육아 비경제활동인구 (천명),통학 비경제활동인구 (천명),기타 비경제활동인구 (천명),경제활동참가율 (%),고용율 (%),실업률 (%)
0,2016-03-04,남자,1222,941,894,47,281,17,102,162,77.0,73.1,5.0
1,2016-03-04,여자,1251,672,644,29,579,397,106,76,53.8,51.5,4.3
2,2016-04-04,남자,1225,932,894,39,293,14,107,172,76.1,72.9,4.1
3,2016-04-04,여자,1254,658,629,29,596,408,112,76,52.5,50.1,4.5

In [85]:
인구tmp = df.filter(['취업자 (천명)','실업자 (천명)'])
인구df = 인구tmp.groupby(['취업자 (천명)']).sum()

In [86]:
인구df

          실업자 (천명)
취업자 (천명)
629             29
644             29
894             86

In [89]:
df.isnull().sum()

시점                    0
성별(1)                 0
15세이상인구 (천명)          0
경제활동인구 (천명)           0
취업자 (천명)              0
실업자 (천명)              0
비경제활동인구 (천명)          0
가사ㆍ육아 비경제활동인구 (천명)    0
통학 비경제활동인구 (천명)       0
기타 비경제활동인구 (천명)       0
경제활동참가율 (%)           0
고용율 (%)               0
실업률 (%)               0
dtype: int64

In [90]:
import matplotlib.pyplot as plt