<a href="https://colab.research.google.com/github/kumo12/Python/blob/master/%ED%8C%8C%EC%9D%B4%EC%8D%AC_3%EC%9D%BC%EC%B0%A8_1%EA%B5%90%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Type_Dictionary**

# Data_Type**

# [문제풀이]

#[문제1]'*'문자를 100번 출력하시오.

```
# 코드로 형식 지정됨
```

In [21]:
print('*'*100)

****************************************************************************************************

# [문제2]input()내장 함수를 이용하여 id에 입력을 받기

In [26]:
id = input('id를 입력 >>> ')
print(id + '님! 안녕하세요.')
print(id, '님! 안녕하세요.')

id를 입력 >>> kumo
kumo님! 안녕하세요.
kumo 님! 안녕하세요.

In [27]:
type(id)

str

#[문제3]나의 나이를 입력받아 (변수 :gap)환갑이 되는 나이 년도 구해보기 '당신이 환갑이 되는 년도는 2032년 입니다.'와 같이 출력해보기

In [38]:
gap = input('태어난 년도를 입력 >>> ')
print('당신이 환갑이 되는 연도는 ', int(gap) + 60,'년 입니다.')

태어난 년도를 입력 >>> 2002
당신이 환갑이 되는 연도는  2062 년 입니다.

#**[문제4]**

두개의 숫자를 입력받아 **, %,/,//

```
#
a, b = input('두개의 숫자 입력').split()
```

In [39]:
a, b = input('두개의 숫자 입력').split()
print(a,b)

두개의 숫자 입력1 2
1 2

In [0]:
a= input('두개의 숫자 입력 >>> ' )

In [0]:
# dic = {1 : '예린이', 2 : '고유빈', 3 : 0409}

In [17]:
dic[1]

NameError: ignored

In [18]:
dic.values()

NameError: ignored

In [20]:
dic.items()

NameError: ignored

In [0]:
dic.keys

In [11]:
a = '인천정보산업고등학교'
type(a)

str

In [12]:
type(dic)

NameError: ignored

In [14]:
b= [1,2,3,4,5]
type(b)
b[0]=8
b

[8, 2, 3, 4, 5]

In [16]:
c=1,2,3,4,5
type(c)
c[0] = 8
c

TypeError: ignored